---
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import "@/index.css";
import { styled } from "@serendie/ui/jsx";
import Global from "@/layouts/Global.astro";

export async function getStaticPaths() {
  const pages = await getCollection("pages");

  return pages.map((page) => {
    return {
      params: {
        slug: page.slug,
      },
      props: { page },
    };
  });
}

const page = await getEntry("pages", Astro.params.slug);

if (!page) {
  return {
    status: 404,
    error: new Error("Page not found"),
  };
}

const currentDir = page.id.split("/").slice(0, -1).join("/");
const siblings = await getCollection(
  "pages",
  (page) =>
    // Filter out pages that in the same directory
    page.id.split("/").slice(0, -1).join("/") === currentDir
);

const MainGrid = styled("div", {
  base: {
    h: "100%",
    display: "grid",
    gridTemplateColumns: "240px 1fr",
  },
});

const Sidebar = styled("aside", {
  base: {
    w: "240px",
    h: "100%",
    py: "sd.system.dimension.spacing.extraLarge",
    display: "flex",
    flexDirection: "column",
    borderRight: "solid",
    borderColor: "sd.system.color.component.outline",
    borderRightWidth: "sd.system.dimension.border.medium",
    backgroundColor: "#FBFCFD",
  },
});

const Main = styled("main", {
  base: {
    pt: "sd.system.dimension.spacing.threeExtraLarge",
    pr: "sd.system.dimension.spacing.fiveExtraLarge",
    pb: "sd.system.dimension.spacing.threeExtraLarge",
    pl: "sd.system.dimension.spacing.fiveExtraLarge",
  },
});

const List = styled("ul", {
  base: {
    listStyle: "none",
    p: 0,
    m: 0,
  },
});

const ListItemLink = styled("a", {
  base: {
    display: "block",
    textStyle: "sd.system.typography.label.extraLarge_expanded",
    pt: "sd.system.dimension.spacing.extraSmall",
    pr: "sd.system.dimension.spacing.extraLarge",
    pb: "sd.system.dimension.spacing.extraSmall",
    pl: "sd.system.dimension.spacing.extraLarge",
    _hover: {
      backgroundColor: "sd.system.color.interaction.hoverSurface",
    },
  },
  variants: {
    active: {
      true: {
        backgroundColor: "sd.system.color.interaction.selectedSurface",
      },
    },
  },
});

const { Content } = await page.render();
---

<Global title={page.data.title}>
  <MainGrid>
    <Sidebar>
      <List>
        {
          siblings.map((item) => (
            <li>
              <ListItemLink
                href={`/${item.slug}`}
                active={item.slug === page.slug}
              >
                {item.data.title}
              </ListItemLink>
            </li>
          ))
        }
      </List>
    </Sidebar>
    <Main>
      <Content />
    </Main>
  </MainGrid>
</Global>
