---
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import "@/index.css";
import Global from "@/layouts/Global.astro";
import { SideMenu } from "@/layouts/SideMenu";
import { Main, MainGrid } from "@/components/Main";
import { css } from "styled-system/css";

export async function getStaticPaths() {
  const pages = await getCollection("pages");

  return pages.map((page) => {
    return {
      params: {
        slug: page.slug,
      },
      props: { page },
    };
  });
}

const page = await getEntry("pages", Astro.params.slug);

if (!page) {
  return {
    status: 404,
    error: new Error("Page not found"),
  };
}

const currentDir = page.id.split("/").slice(0, -1).join("/");
const siblings = await getCollection(
  "pages",
  (page) =>
    // Filter out pages that in the same directory
    page.id.split("/").slice(0, -1).join("/") === currentDir
);

const propsForMdx = {
  siblings,
};

const { Content } = await page.render();
---

<Global title={page.data.title}>
  <MainGrid>
    <SideMenu
      links={siblings.map((link) => ({
        href: `/${link.slug}`,
        title: link.data.title,
        isActive: link.slug === page.slug,
      }))}
    />

    <Main className={css({
      display: "grid",
      gridTemplateColumns: "repeat(8, 1fr)",
      columnGap: "40px",
      mdDown: {
        gridTemplateColumns: "1fr",
        px: '24px'
      }
    })}>
      <Content {...propsForMdx} />
    </Main>
  </MainGrid>
</Global>
