---
import Layout from '../layouts/Layout.astro';
import {css} from "@spread/ui/css";
---

<Layout title="Welcome to Spread.">
		<h1 class={css({fontSize:"", fontWeight:"bold"})}>Welcome to Spread.</h1>
</Layout>