---
import Layout from '../layouts/Layout.astro';
import { Button } from "@spread/ui";
import {Center} from "@spread/ui/jsx";
---

<Layout title="Welcome to Astro.">
	<main>
		<Center m={{sm:"20",md:"10"}}>
			<Button mt={20} variant={"secondary"}>This is a button component from UI</Button>
		</Center>
	</main>
</Layout>




