---
import Layout from '../layouts/Layout.astro';
import {css} from "@spread/ui/css";
import { Button, Button2 } from "@spread/ui"
---

<Layout title="Welcome to Spread.">
		<h1 class={css({fontSize:"", fontWeight:"bold"})}>Welcome to Spread.</h1>
		<Button>This is a Button</Button>
		<Button2 client:load />
</Layout>