---
import { styled } from "styled-system/jsx";
import ContactCard from "./ContactCard.astro";

const ContactContainer = styled("div", {
  base: {
    pb: "240px",
  },
});

const Title = styled("h2", {
  base: {
    color: "web.system.color.impression.onTertiary",
    fontWeight: "bold",
    width: "100%",
    mb: "80px",
    textStyle: "_Web.title.large.PC",
    expanded: {
      textStyle: "_Web.display.medium",
    },
  },
});

const Subtitle = styled("h2", {
  base: {
    textStyle: "sd.system.typography.title.medium_compact",
    color: "web.system.color.impression.onTertiary",
    fontWeight: "bold",
    width: "100%",
    mb: "24px",

    expanded: {
      textStyle: "sd.system.typography.title.large_compact",
    },
  },
});

const ContactCardGrid = styled("div", {
  base: {
    mt: "40px",
    display: "grid",
    alignItems: "center",
    justifyContent: "center",

    gap: "36px",
    gridTemplateColumns: "1fr 1fr",
    expanded: {
      gap: "68px",
      mt: "0",
      gridColumn: "2 / 4",
      gridTemplateColumns: "repeat(3, 1fr)",
    },
  },
});

const ContactSection = styled("div", {
  base: {
    display: "grid",
    gridTemplateColumns: "1fr",
    "& + &": {
      mt: "92px",
    },
    expanded: {
      gridTemplateColumns: "repeat(3, 1fr)",
      "& + &": {
        mt: "128px",
      },
    },
  },
});
---

<ContactContainer>
  <Title> コミュニティに参加する </Title>

  <ContactSection>
    <Subtitle> メディア・コミュニティ </Subtitle>
    <ContactCardGrid>
      <ContactCard
        icon="/assets/logo/x.svg"
        title="最新情報"
        link="https://x.com/SerendieDesign"
      />
      <ContactCard
        icon="/assets/logo/figma.svg"
        title="Figma Community"
        link="https://figma.com/@SerendieDesign"
      />
      <ContactCard
        icon="/assets/logo/github.svg"
        title={`2025年2月公開予定`}
        link="https://github.com/serendie"
      />
    </ContactCardGrid>
  </ContactSection>

  <ContactSection>
    <Subtitle> 三菱電機メンバー向け </Subtitle>
    <ContactCardGrid>
      <ContactCard
        icon="/assets/logo/teams.svg"
        title="社内コミュニティ"
        link="https://teams.microsoft.com/l/team/19%3ACZhxe0gHUo7G0d2KHtfTzPxauxH3lK_4WruQVWRWLFA1%40thread.tacv2/conversations?groupId=64fe7805-7354-4722-8e08-ae2b4ae60f20&tenantId=c5a75b62-4bff-4c96-a720-6621ce9978e5"
      />
      <ContactCard
        icon="/assets/logo/sharepoint.svg"
        title="社内ポータル"
        link="https://mitsubishielectricgroup.sharepoint.com/sites/014758/serendie_designsystem"
      />
    </ContactCardGrid>
  </ContactSection>
</ContactContainer>
