---
import { styled } from "styled-system/jsx";

const FooterWrapper = styled("footer", {
  base: {
    position: "relative",
    pt: 32,
    pb: 32,
    px: 24,
    bg: "web.system.color.impression.secondary",
    color: "white",
    mt: "calc(var(--radii-sd-system-dimension-radius-extra-large) * -1)",
    zIndex: 1,
    borderTopRadius: "sd.system.dimension.radius.extraLarge",
    expanded: {
      pt: 120,
      pb: 40,
      px: 150,
    },
  },
});
const FooterContainer = styled("div", {
  base: {
    maxWidth: "calc(1640px + 240px)",
    margin: "0 auto",
    display: "flex",
    flexDirection: "column",
    expanded: {
      flexDirection: "row",
      justifyContent: "space-between",
    },
    "& a:hover": {
      opacity: 0.6,
    },
  },
});
const FooterTitle = styled("div", {
  base: {
    textStyle: "sd.system.typography.headline.large_expanded",
    fontSize: "24px",
    fontWeight: "bold",
    mr: 32,
    mb: 40,
    expanded: {
      textStyle: "sd.system.typography.headline.large_expanded",
    },
  },
});
const FooterLinks = styled("div", {
  base: {
    display: "grid",
    gridTemplateColumns: "repeat(2, 1fr)",
    gap: 16,
    textStyle: "sd.system.typography.body.extraSmall_expanded",
    "& h2": {
      textStyle: "sd.system.typography.title.small_expanded",
      mb: "16px",
      expanded: {
        mb: "24px",
      },
    },
    "& ul": {
      listStyle: "none",
      padding: 0,
    },
    expanded: {
      gap: 48,
      gridTemplateColumns: "repeat(4, auto)",
    },
  },
});

const FooterLinksLi = styled("li", {
  base: {
    display: "none",
    mb: "16px",
    expanded: {
      display: "block",
      mb: "16px",
    },
  },
});

const FooterCopyright = styled("div", {
  base: {
    textAlign: "left",
    mt: 160,
    expanded: {
      textAlign: "right",
      mt: 80,
    },
  },
});

const footerLink = [
  {
    title: "About",
    url: "/about",
    links: [
      {
        title: "Serendie Design Systemとは",
        url: "/about",
      },
    ],
  },
  {
    title: "Get Started",
    url: "/get-started",
    links: [
      {
        title: "デザイン",
        url: "/get-started/design",
      },
      {
        title: "開発",
        url: "/get-started/dev",
      },
    ],
  },
  {
    title: "Foundation",
    url: "/foundations",
    links: [
      {
        title: "Design Tokens",
        url: "/foundations/design-tokens",
      },
      {
        title: "Color",
        url: "/foundations/color",
      },
      {
        title: "Theming",
        url: "/foundations/theming",
      },
      {
        title: "Typography",
        url: "/foundations/typography",
      },
      {
        title: "Dimension",
        url: "/foundations/dimension",
      },
      {
        title: "Elevation",
        url: "/foundations/elevation",
      },
      {
        title: "Icon",
        url: "/foundations/icon",
      },
      {
        title: "Illustration",
        url: "/foundations/illustration",
      },
    ],
  },
  {
    title: "Components",
    url: "/components",
    links: [
      {
        title: "Accordion",
        url: "/components/accordion",
      },
      {
        title: "Bottom Navigation",
        url: "/components/bottom-navigation",
      },
      {
        title: "Button",
        url: "/components/button",
      },
      {
        title: "List",
        url: "/components/list",
      },
      {
        title: "Select",
        url: "/components/select",
      },
      {
        title: "Tabs",
        url: "/components/tabs",
      },
      {
        title: "Text Field",
        url: "/components/text-field",
      },
      {
        title: "すべて見る",
        url: "/components",
      },
    ],
  },
];
---

<FooterWrapper>
  <FooterContainer>
    <FooterTitle><h1><a href='/'>Serendie Design System</a></h1></FooterTitle>
    <FooterLinks>
      {
        footerLink.map((link) => (
          <div>
            <h2><a href={link.url}>{link.title}</a></h2>
            <ul>
              {link.links.map((item, index) => (
                <FooterLinksLi>
                  <a href={item.url}>{item.title}</a>
                </FooterLinksLi>
              ))}
            </ul>
          </div>
        ))
      }
    </FooterLinks>
  </FooterContainer>
  <FooterCopyright>© Mitsubishi Electric Corporation</FooterCopyright>
</FooterWrapper>
