---
import { styled } from "@serendie/ui/jsx"


const FooterWrapper = styled("footer",{
  base: {
    pt: '220px',
    pb: 40,
    bg: 'sd.reference.color.scale.blue.800',
    borderTopRadius: 'sd.system.dimension.radius.extraLarge',
  }
})
const FooterContainer = styled("div",{
  base: {
    maxWidth: "calc(100vw - 24.44%)",
    margin: "0 auto",
    display: "grid",
    gridTemplateColumns: "repeat(3, 1fr)",
    gridTemplateRows: "auto auto",
    rowGap: '100px',
    color: "sd.system.color.impression.onPrimaryContainer",
  }
})
const FooterTitle = styled("div",{
  base: {
    textStyle: "sd.system.typography.headline.large_expanded",
  }
})
const FooterLinks = styled("div",{
  base: {
    gridColumn: "3 / 4",
    display: "grid",
    gridTemplateColumns: "repeat(3, 1fr)",
    gap: 16,
    textStyle: "sd.system.typography.body.extraSmall_expanded",
    '& h2': {
      textStyle: "sd.system.typography.title.small_expanded",
      mb: '24px',
    },
    '& ul': {
      listStyle: "none",
      padding: 0,
      '& li': {
        mb: '16px',
      }
    },
  }
})
const FooterCopyright = styled("div",{
  base: {
    gridColumn: "1 / 4",
    textAlign: "right",
  }
})

const footerLink = [
  {
    title: "基本情報",
    links: [
      {
        title : "目指す地点",
        url : "#"
      },
      {
        title : "スターターガイド",
        url : "#"
      },
      {
        title : "運用と組織",
        url : "#"
      }
    ]
  },
  {
    title: "基本情報",
    links: [
      {
        title : "目指す地点",
        url : "#"
      },
      {
        title : "スターターガイド",
        url : "#"
      },
      {
        title : "運用と組織",
        url : "#"
      }
    ]
  },
  {
    title: "基本情報",
    links: [
      {
        title : "目指す地点",
        url : "#"
      },
      {
        title : "スターターガイド",
        url : "#"
      },
      {
        title : "運用と組織",
        url : "#"
      }
    ]
  }
]

---

<FooterWrapper>
  <FooterContainer>
    <FooterTitle><h1>Serendie Design System</h1></FooterTitle>
    <FooterLinks>
      {footerLink.map((link) => (
        <div>
          <h2>{link.title}</h2>
          <ul>
            {link.links.map((item, index) => (
              <li>
                <a href={item.url}>{item.title}</a> 
              </li>
            ))}
          </ul>
        </div>
      ))}
    </FooterLinks>
    <FooterCopyright>© Mitsubishi Electric Corporation</FooterCopyright>
  </FooterContainer>
</FooterWrapper>