---
import { Badge, Button } from "@serendie/ui";
import { SerendieSymbol } from "@serendie/symbols";
import { css } from "styled-system/css";
import { styled } from "styled-system/jsx";
import { siteConfig } from "../../../siteConfig";

const ReleasenoteContainer = styled("div", {
  base: {
    pb: "240px",
  },
});

const TitleContainer = styled("div", {
  base: {
    width: "100%",
    display: "grid",
    gridTemplateColumns: "1fr auto",
    gap: "16px",
    alignItems: "center",
    mb: "40px",
    expanded: {
      mb: "40px",
    },
  },
});

const Title = styled("h2", {
  base: {
    color: "web.system.color.impression.onTertiary",
    fontWeight: "bold",
    width: "100%",
    textStyle: "_Web.title.large.PC",
    expanded: {
      textStyle: "_Web.display.medium",
    },
  },
});

const ReleasenoteGrid = styled("div", {
  base: {
    display: "grid",
    gap: "sd.system.dimension.spacing.medium",
    gridTemplateColumns: "1fr 9fr auto",
    expanded: {
      gridTemplateColumns: "1fr 9fr auto auto",
    },
  },
});

const Note = styled("a", {
  base: {
    display: "grid",
    gridColumn: "1 / 5",
    gridTemplateColumns: "auto 1fr auto",
    gap: "12px",
    background: "sd.system.color.component.surface",
    py: "16px",
    px: "20px",
    alignSelf: "center",
    alignContent: "center",
    borderRadius: "130px",
    expanded: {
      gridTemplateColumns: "auto 1fr auto auto",
      gap: "0",
      py: "sd.system.dimension.spacing.extraSmall",
      px: "sd.system.dimension.spacing.large",
      "& > *": {
        transition: "opacity 0.3s",
      },
      _hover: {
        "& > *": {
          opacity: 0.4,
        },
      },
    },
  },
});

const NoteTime = styled("time", {
  base: {
    p: "0",
    textStyle: "sd.system.typography.body.small_compact",
    fontWeight: "sd.reference.typography.fontWeight.bold",
    color: "web.system.color.component.onSurface",
    alignContent: "center",
    expanded: {
      textStyle: "sd.system.typography.body.small_expanded",
      p: "sd.system.dimension.spacing.small",
    },
  },
});

const NoteTitle = styled("h2", {
  base: {
    p: "0",
    textStyle: "sd.system.typography.body.small_compact",
    textOverflow: "ellipsis",
    overflow: "hidden",
    boxOrient: "vertical",
    display: "-webkit-box",
    alignSelf: "center",
    lineClamp: 2,
    expanded: {
      textStyle: "sd.system.typography.body.medium_compact",
      p: "sd.system.dimension.spacing.small",
    },
  },
});

const NoteBadge = styled("div", {
  base: {
    p: "0",
    alignContent: "center",
    expanded: {
      p: "sd.system.dimension.spacing.small",
    },
  },
});

const NoteIcon = styled("div", {
  base: {
    display: "none",
    expanded: {
      display: "block",
      p: "12px",
      width: "48px",
    },
  },
});
---

<ReleasenoteContainer>
  <TitleContainer>
    <Title>ニュース・イベントを見る</Title>
    <!-- <Button
      styleType="ghost"
      className={css({
        color: "web.system.color.impression.onTertiary",
      })}
    >
      すべて見る
    </Button> -->
  </TitleContainer>

  <ReleasenoteGrid>
    <Note
      href="/get-started/ai-agent/mcp-server"
      target="_blank"
    >
      <NoteTime>2025/10/28</NoteTime>
      <NoteTitle>
        AIエージェントからSerendie MCPサーバーが利用可能になりました。
      </NoteTitle>
      <NoteBadge>
        <Badge
          className={css({
            background: "web.system.color.impression.secondary",
          })}
        >
          NEW
        </Badge>
      </NoteBadge>
      <NoteIcon>
        <SerendieSymbol name="chevron-right" size={24} />
      </NoteIcon>
    </Note>
    <Note
      href="https://www.g-mark.org/gallery/winners/27713"
      target="_blank"
    >
      <NoteTime>2025/10/15</NoteTime>
      <NoteTitle>Serendie Design Systemがグッドデザイン・ベスト100を受賞しました。</NoteTitle>
      <NoteBadge>
        <Badge
          className={css({
            background: "web.system.color.impression.secondary",
          })}
        >
          NEW
        </Badge>
      </NoteBadge>
      <NoteIcon>
        <SerendieSymbol name="chevron-right" size={24} />
      </NoteIcon>
    </Note>
    <Note
      href="/foundations/data-visualization"
    >
      <NoteTime>2025/07/31</NoteTime>
      <NoteTitle>データビジュアライゼーションに対応するアップデートを行いました。</NoteTitle>
      <NoteIcon>
        <SerendieSymbol name="chevron-right" size={24} />
      </NoteIcon>
    </Note>
    <Note
      href="https://github.com/serendie"
      target="_blank"
    >
      <NoteTime>2025/1/31</NoteTime>
      <NoteTitle>GitHubにてSerendie UIやSerendie SymbolsなどがOSSとして公開されました。</NoteTitle>
      <NoteIcon>
        <SerendieSymbol name="chevron-right" size={24} />
      </NoteIcon>
    </Note>
    <Note href="https://www.mitsubishielectric.co.jp/serendie/stories/07/" target="_blank">
      <NoteTime>2024/12/20</NoteTime>
      <NoteTitle>
        Serendie Design System立ち上げメンバーのインタビュー記事が公開されました。
      </NoteTitle>
      <NoteIcon>
        <SerendieSymbol name="chevron-right" size={24} />
      </NoteIcon>
    </Note>
    <Note href={siteConfig.serendieUIKitFigmaFileURL} target="_blank">
      <NoteTime>2024/11/7</NoteTime>
      <NoteTitle>
        Figma CommunityにてSerendie UI Kitを公開しました。
      </NoteTitle>
      <NoteIcon>
        <SerendieSymbol name="chevron-right" size={24} />
      </NoteIcon>
    </Note>
    <Note
      href="https://www.mitsubishielectric.co.jp/news/2024/1107.html"
      target="_blank"
    >
      <NoteTime>2024/11/7</NoteTime>
      <NoteTitle> Serendie Design Systemを公開しました。 </NoteTitle>
      <NoteIcon>
        <SerendieSymbol name="chevron-right" size={24} />
      </NoteIcon>
    </Note>
  </ReleasenoteGrid>
</ReleasenoteContainer>
