---
import { styled } from "styled-system/jsx";
import { ShowcaseCarousel } from "./ShowcaseCarousel";
import { ShowcaseCarouselWrapper } from "./ShowcaseCarouselWrapper";

const ShowcaseContainer = styled("div", {
  base: {
    pt: "120px",
    pb: "240px",
  },
});

const Title = styled("h2", {
  base: {
    color: "web.system.color.impression.onTertiary",
    fontWeight: "bold",
    mb: "40px",
    textStyle: "sd.system.typography.title.large_compact",
    expanded: {
      textStyle: "sd.system.typography.headline.medium_expanded",
    },
  },
});
---

<ShowcaseContainer>
  <Title>デザインの事例を見る</Title>

  <ShowcaseCarouselWrapper client:load />
</ShowcaseContainer>
