---
import { styled } from "styled-system/jsx";
import { ShowcaseCarouselWrapper } from "./ShowcaseCarouselWrapper";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const ShowcaseContainer = styled("div", {
  base: {
    pt: "240px",
    pb: "240px",
  },
});

const Title = styled("h2", {
  base: {
    color: "web.system.color.impression.onTertiary",
    fontWeight: "sd.reference.typography.fontWeight.bold",
    mb: "40px",
    textStyle: "_Web.title.large.PC",
    expanded: {
      textStyle: "_Web.display.medium",
    },
  },
});
---

<ShowcaseContainer>
  <Title>{t("footer.showcaseTitle")}</Title>

  <ShowcaseCarouselWrapper client:load />
</ShowcaseContainer>
