---
import { css } from "styled-system/css/css";

interface Props {
  paths: {
    name: string;
    path: string;
  }[];
}

const { paths } = Astro.props;
---

<div
  class={css({
    h: 44,
    display: "flex",
    alignItems: "stretch",
    borderBottomWidth: 1,
    borderBottomColor: "sd.system.color.component.onSurfaceVariant",
    mb: "sd.system.dimension.spacing.threeExtraLarge",
  })}
>
  {
    paths.map((path) => (
      <a
        href={path.path}
        class={css({
          px: "sd.system.dimension.spacing.twoExtraLarge",
          pb: "sd.system.dimension.spacing.twoExtraSmall",
          "&:hover": {
            color: "sd.system.color.impression.primary",
          },
          borderBottomWidth: 2,
          borderBottomColor:
            Astro.url.pathname === path.path
              ? "sd.system.color.impression.primary"
              : "transparent",
        })}
      >
        {path.name}
      </a>
    ))
  }
</div>
