---
import { css } from "styled-system/css";

export interface Props {
  links?: {
    name: string;
    path: string;
  }[];
}

const { links } = Astro.props;
---

<div
  class={css({
    maxWidth: "100%",
    overflowX: "auto",
    display: "flex",
    alignItems: "stretch",
    mb: "sd.system.dimension.spacing.threeExtraLarge",
    position: "relative",
    _before: {
      content: '""',
      position: "absolute",
      bottom: 0,
      left: "0",
      sm: {
        left: "-80px",
        right: "-24px",
      },
      zIndex: -1,
      right: 0,
      borderBottomWidth: 1,
      borderBottomColor: "sd.system.color.component.outline",
    },
  })}
>
  {
    links?.map((path) => (
      <a
        href={path.path}
        class:list={css({
          whiteSpace: "nowrap",
          h: 44,
          px: "sd.system.dimension.spacing.twoExtraLarge",
          pb: "sd.system.dimension.spacing.twoExtraSmall",
          "&:hover": {
            color: "sd.system.color.impression.primary",
          },
          borderBottomWidth: 2,
          fontWeight: Astro.url.pathname === path.path ? "bold" : "normal",
          borderBottomColor:
            Astro.url.pathname === path.path
              ? "sd.system.color.impression.primary"
              : "transparent",
        })}
      >
        {path.name}
      </a>
    ))
  }
</div>
