@layer tokens {
:where(:root, :host) {
--_illustration-system-composition-primary: var(--colors-sd-reference-color-scale-blue-600);
--_illustration-system-composition-secondary: var(--colors-sd-reference-color-scale-blue-500);
--_illustration-system-composition-tertiary-1: var(--colors-sd-reference-color-scale-blue-400);
--_illustration-system-composition-tertiary-2: var(--colors-sd-reference-color-scale-sky-blue-500);
--_illustration-system-composition-accent: var(--colors-sd-reference-color-scale-red-500);
--_illustration-system-composition-background: var(--colors-sd-reference-color-scale-blue-100);
}
 [data-panda-theme='asagi'] {
--_illustration-system-composition-primary: var(--colors-sd-reference-color-scale-sky-blue-600);
--_illustration-system-composition-secondary: var(--colors-sd-reference-color-scale-sky-blue-500);
--_illustration-system-composition-tertiary-1: var(--colors-sd-reference-color-scale-sky-blue-400);
--_illustration-system-composition-tertiary-2: var(--colors-sd-reference-color-scale-blue-500);
--_illustration-system-composition-accent: var(--colors-sd-reference-color-scale-purple-500);
--_illustration-system-composition-background: var(--colors-sd-reference-color-scale-gray-100);
}
 [data-panda-theme='sumire'] {
--_illustration-system-composition-primary: var(--colors-sd-reference-color-scale-purple-600);
--_illustration-system-composition-secondary: var(--colors-sd-reference-color-scale-purple-500);
--_illustration-system-composition-tertiary-1: var(--colors-sd-reference-color-scale-purple-400);
--_illustration-system-composition-tertiary-2: var(--colors-sd-reference-color-scale-blue-600);
--_illustration-system-composition-accent: var(--colors-sd-reference-color-scale-yellow-500);
--_illustration-system-composition-background: var(--colors-sd-reference-color-scale-purple-100);
}
 [data-panda-theme='kurikawa'] {
--_illustration-system-composition-primary: var(--colors-sd-reference-color-scale-chestnut-600);
--_illustration-system-composition-secondary: var(--colors-sd-reference-color-scale-chestnut-500);
--_illustration-system-composition-tertiary-1: var(--colors-sd-reference-color-scale-chestnut-400);
--_illustration-system-composition-tertiary-2: var(--colors-sd-reference-color-scale-beige-500);
--_illustration-system-composition-accent: var(--colors-sd-reference-color-scale-green-500);
--_illustration-system-composition-background: var(--colors-sd-reference-color-scale-chestnut-100);
}
 [data-panda-theme='tsutsuji'] {
--_illustration-system-composition-primary: var(--colors-sd-reference-color-scale-pink-600);
--_illustration-system-composition-secondary: var(--colors-sd-reference-color-scale-pink-500);
--_illustration-system-composition-tertiary-1: var(--colors-sd-reference-color-scale-pink-400);
--_illustration-system-composition-tertiary-2: var(--colors-sd-reference-color-scale-purple-500);
--_illustration-system-composition-accent: var(--colors-sd-reference-color-scale-sky-blue-500);
--_illustration-system-composition-background: var(--colors-sd-reference-color-scale-pink-100);
}
}
