---
import "@/index.css";
import { siteConfig } from "@/../siteConfig";
import { styled, Box } from "styled-system/jsx";
import Footer from "@/components/toppage/Footer.astro";
import GlobalHeader from "@/components/GlobalHeader.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

const Body = styled("body", {
  base: {
    maxWidth: "100vw",
    display: "grid",
    gridTemplateRows: "auto 1fr",
    alignItems: "start",
  },
});
---

<!doctype html>
<html lang="ja" style="height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={siteConfig.siteDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}{title && " | "}{siteConfig.siteName}</title>

    <script>
      const storedTheme = localStorage.getItem("panda-theme");
      if (storedTheme) {
        document.documentElement.setAttribute("data-panda-theme", storedTheme);
      }
    </script>
  </head>
  <Body>
    <GlobalHeader />
    <slot />
    <Footer />
  </Body>
</html>
