---
import "@/index.css";
import { styled } from "styled-system/jsx";
import Footer from "@/components/toppage/Footer.astro";
import GlobalHeader from "@/components/GlobalHeader.astro";
import Html from "./Html.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

const Body = styled("body", {
  base: {
    maxWidth: "100vw",
    display: "grid",
    gridTemplateRows: "auto 1fr",
    alignItems: "start",
    "& *::selection": {
      backgroundColor: "web.system.color.impression.primary",
      color: "white"
    }
  },
});
---

<Html title={title}>
  <Body>
    <GlobalHeader />
    <slot />
    <Footer />
  </Body>
</Html>
