---
import { css } from "@spread/ui/css";
import "../index.css"
import { getCollection } from "astro:content";
interface Props {
	title: string;
}

const { title } = Astro.props;
const docs = await getCollection("docs");

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class={css({p:5})}>
		<div class={css({display:"flex", gap:"10"})}>
			<aside>
				<h2 class={css({fontWeight:"bold", mb:5})}>Components</h2>
				<ul>
					{docs.map(item =>(<li>{item.data.title}</li>))}
				</ul>
			</aside>
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>

