---
import "@/index.css";
import { getCollection } from "astro:content";
import Global from "./Global.astro";
import { SideMenu } from "../components/SideMenu";
import { Main, MainGrid, MainTitle } from "@/components/Main";

interface Props {
  title: string;
}

const { title } = Astro.props;
const components = await getCollection("components");
---

<Global title={title}>
  <MainGrid>
    <SideMenu
      links={components.map((component) => ({
        href: `/components/${component.slug}`,
        title: component.data.title,
        isActive: component.data.title === title,
      }))}
      client:idle
    />
    <Main>
      <MainTitle>{title}</MainTitle>
      <slot />
    </Main>
  </MainGrid>
</Global>
