---
import Footer from "@/components/toppage/Footer.astro";
import "@/index.css";
import { styled } from "@serendie/ui/jsx";

const Container = styled('div', {
  base: {
    position: "relative",
    minH: "200vh",
    background: "#EFF2FC",
    zIndex: 1,
    overflow: "clip",
  }
})
const Wrapper = styled('div', {
  base: {
    // overflowX: "hidden",
    maxWidth: "100vw",
  }
})
---

<!doctype html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
  </head>
  <body>
    <Wrapper>
      <Container>
        <slot />
      </Container>
    </Wrapper>

    <Footer />
  </body>
</html>
