---
import Footer from "@/components/toppage/Footer.astro";
import "@/index.css";
import { styled } from "styled-system/jsx";
import GlobalHeader from "@/components/GlobalHeader.astro";
import { css } from "styled-system/css";
import Html from "./Html.astro";

const Body = styled("body", {
  base: {
    "& *::selection": {
      backgroundColor: "web.system.color.impression.primary",
      color: "white"
    }
  }
})

const Container = styled("div", {
  base: {
    position: "relative",
    minH: "200vh",
    background: "web.system.color.impression.tertiary",
    zIndex: 1,
    overflow: "clip",
  },
});
const Wrapper = styled("div", {
  base: {
    // overflowX: "hidden",
    maxWidth: "100vw",
  },
});
const Header = styled("header", {
  base: {
    position: "fixed",
    top: 0,
    zIndex: 100,
    w: "100%",
    pt: "sd.system.dimension.spacing.extraLarge",
    pr: "sd.system.dimension.spacing.threeExtraLarge",
    pb: "sd.system.dimension.spacing.extraLarge",
    pl: "sd.system.dimension.spacing.threeExtraLarge",
    color: "sd.reference.color.scale.blue.900",
    display: "flex",
    justifyContent: "space-between",
    alignItems: "center",
    animation: `fadein 0.6s forwards`,
    animationDelay: "3s",
    opacity: 0,
  },
});

const H1 = styled("h1", {
  base: {
    textStyle: "sd.system.typography.title.large_expanded",
  },
});

const Menu = styled("div", {
  base: {
    display: "flex",
    alignItems: "center",
    fontWeight: "sd.reference.typography.fontWeight.bold",
    gap: "sd.system.dimension.spacing.extraLarge",
  },
});

const Link = styled("a", {
  base: {},
  variants: {
    active: {
      true: {
        borderBottom: "solid",
      },
    },
  },
});

const menuItems = [
  { href: "/about", text: "About" },
  { href: "/get-started", text: "Get Started" },
  { href: "/foundations", text: "Foundations" },
  { href: "/components", text: "Components" },
  { href: "/contribution", text: "Contribution" },
];
---

<Html>
  <Body>
    <GlobalHeader
      className={css({
        position: "fixed",
        top: 0,
        zIndex: 100,
        w: "100%",
        pt: "sd.system.dimension.spacing.extraLarge",
        pr: "sd.system.dimension.spacing.threeExtraLarge",
        pb: "sd.system.dimension.spacing.extraLarge",
        pl: "sd.system.dimension.spacing.threeExtraLarge",
        borderBottom: "none",
        display: "flex",
        justifyContent: "center",
        alignItems: "center",
        animation: `fadein 0.6s forwards`,
        animationDelay: "3s",
        opacity: 0,
        "& > div": {
          w: "100%",
          maxW: "100%",
        },
      })}
      isToppage
    />

    <Wrapper>
      <Container>
        <slot />
      </Container>
    </Wrapper>

    <Footer />
  </Body>
</Html>
